body{
  background-color: #fff;
}
/* src/index.css or src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.info-logo{
  display: flex;
  
}
.info{
  margin-left: 100px;
  font-size: 30px;
  color: gold;
  font-weight: 900;
  margin-top: 5px;
}
.logo{
  margin-left: -50px;
  width: 300px;
  height: 250px;
  margin-top: -35px;
}

nav{
  font-family: "Playfair Display", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: blue;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1000;
  top: 0;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  color: #fff;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}
nav ul{
  margin-top: -105px;
  font-size: 21px;
}

.wrap{
  display: flex;
  
}
.intro{
  padding: 110px 55px;
}
.slogan-h1{
  padding: 0 10px;
  font-size: 65px;
  font-family: "Playfair Display", serif;
}
.slogan-p{
  color: darkgray;
  font-family: "Poppins", sans-serif;
} 
.cover{
  width: 750px;
  height: 550px;
  padding: 60px 0 0 0;
display: block;
z-index: 1;
}
.image{
  position: relative;
  display: block;
 z-index: 1;
}

.image:before,
.image:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 56%; 
    height: 73%; 
    box-sizing: border-box;
}


.image:before {
    top: 295px;
    right: 20px;
    clip: rect(0, 520px, 220px, 0);
    border: 10px dotted gold;
    transform: translate(-20%, -50%) rotate(69deg);
}


.image:after {
    bottom: -165px;
    left: 210px;
    clip: rect(0, 520px, 220px, 0);
    border: 10px dotted purple; 
    transform: translate(-12%, -50%) rotate(250deg);
}
.buttons{
  margin: 60px;
  margin-top: -100px;
}
.butt1{
  margin: 10px 20px;
  background-color: gold;
  color: #fff;
  font-weight: 500;
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-family: "Playfair Display", serif;
}
.butt2{
  margin: 10px 20px;
  background-color: purple;
  color: #fff;
  font-weight: 500;
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-family: "Playfair Display", serif;
}
.about-page{
  background-color: rgb(4, 4, 72);
  margin-top: 160px;
}
.about-h1{
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #fff;
  padding: 30px 0 0 0;
}
.about-p{
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: gold;
}
.rotate{
  height: 200px;
  background-color: red;
  margin: 50px 0 0 0;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: #ffffff00;
  border: 2px solid #cccccc00;
  position: relative;
}

.train {
  display: flex;
  position: absolute;
  left: 100%;
  animation: moveTrain 45s linear infinite;
  overflow: hidden;
}

.icon {
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 30px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  background-color: purple;
  color: #fff;
  padding: 10px 10px;
}

.icons{
  margin-left: 200px;
  margin-top: -90px;
  font-size: 80px;
}
.eng .icons{
  margin-left: 200px;
  margin-top: -90px;
  font-size: 80px;
}
.physics .icons{
  margin-left: 200px;
  margin-top: -140px;
  font-size: 80px;
  color: orangered;
}
.maths-lit .icons{
  margin-left: 200px;
  margin-top: -80px;
  font-size: 80px;
  color: blue;
}
.maths .icons{
  color: blue;
}
.hist .icons{
  color: brown;
}
.ls .icons{
  color: green;
}
.acc .icons{
  color: brown;
}
.agric .icons{
  color: red;
}
.geo .icons{
  color: rgb(82, 82, 204);
}
@keyframes moveTrain {
  from {
      left: 100%;
  }
  to {
      left: -100%;
  }
}
.about-image{
  width: 500px;
  height: 600px;
 margin-top: -30px;
}
.about-2{
  display: flex;
  justify-content: space-around;
  padding: 20px 10px 10px 20px;
}
.tutoring-1{
  font-family: "Playfair Display", serif;
  color: gold;
}
.p-about{
  color: #fff;
  font-family: "poppins", sans-serif;
  margin: 20px;
}
ul li {
  list-style: none;
}
li{
  padding: 5px 0 0 0;
}
.tutoring-2{
  color: purple;
  font-family: "Playfair Display", serif;
}
.mark-gold{
  color: gold;
}
.mark-purple{
  color: purple;
}

.tutoring-button{
  padding: 20px;

}
.tutoring-btn{
  font-family: "Playfair Display", serif;
  background-color: rgba(255, 217, 0, 0.328);
  width: 200px;
  height: 60px;
  color: gold;
  font-weight: 500;
  box-shadow: 0 5px 5px gold;
}
.applying-button{
  padding: 10px;
  
}
.applying-btn{
  font-family: "Playfair Display", serif;
  background-color: rgba(128, 0, 128, 0.299);
  color: purple;
  width: 200px;
  height: 60px;
  font-weight: 500;
  box-shadow: 0 5px 5px purple;
}
/*-----------------------------------------services-----------------------------------*/
#services{
  padding: 30px 0;
}
.sub-title{
  font-size: 50px;
  text-align: center;
  color: blue;
  font-family: "Playfair Display", serif;
  position: relative;
}
.sub-title::after{
  content: '';
  width: 100%;
  width: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  background: #ff00f4;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.tutoring-list{
  font-size: 45px;
  font-family: "Playfair Display", serif;
  margin-top: 10px;
  color: rgb(4, 4, 72);
}
.applying-list{
  font-size: 45px;
  font-family: "Playfair Display", serif;
  margin-top: 30px;
  color: rgb(4, 4, 72);
}
.serv{
  color: gold;
}
.app{
  color: purple;
}
.services-list div{
  background: #262626;
  padding: 40px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  font-family: "Playfair Display", serif;
}
.services-list div span{
  font-size: 50px;
 
}

.span-icon{
  margin-bottom: 30px;
 margin: 0 auto;
 
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.tutor{
  background-color: gold;
  color: #fff;
  width: 220px;
  height: 60px;
  border-radius: 2px;
  box-shadow: 0 5px 5px rgb(147, 126, 10);
  border: rgba(40, 35, 10, 0.744);
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
.apply{
  background-color: purple;
  color: #fff;
  width: 220px;
  height: 60px;
  box-shadow: 0 5px 5px purple;
  border: rgba(128, 0, 128, 0.216);
  border-radius: 2px;
  font-family: "Playfair Display", serif;
}

.tut-p{
  color: darkgray;
  font-family: "poppins", sans-serif;
}
.app-p{
  color: darkgray;
  font-family: "poppins", sans-serif;
}
.pp-tutor{
  color: gold;
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
}

.pp-apply{
  color: purple;
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
}
.reviews{
  background-color: rgb(4, 4, 72);
}
.rotate-review{
  background-color: red;
  margin: 50px 0 0 0;
  overflow: hidden;
  width: 100%;
  height: 550px;
  background-color: #ffffff00;
  border: 2px solid #cccccc00;
  position: relative;
}

.train-review {
  display: flex;
  position: absolute;
  left: 100%;
  animation: moveTrain 120s linear infinite;
  overflow: hidden;
}

.icon-review {
  width: 280px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 30px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #fff;
  padding: 10px 10px;
}

.icons{
  margin-left: 200px;
  margin-top: -90px;
  font-size: 80px;
}
.profile-name{
  display: flex;
}
.pic-name{
  display: flex;
  justify-content: space-around;
}
.pic-name h1{
  font-size: 23px;
  margin: 0;
  padding: 0 20px;
  line-height: 1;
  color: #000;
  font-weight: 700;
  font-family: "poppins", sans-serif;
}
.date{
  font-family: "poppins", sans-serif;
  font-weight: 500;
  color: darkgray;
  padding: 0 73px;
  font-size: 15px;
  white-space: nowrap;
}
.date-zee{
  margin-top: -25px;
  padding: 0 90px;
}
.review-stars{
  color: gold;
  font-size: 22px;
  
}
.star-reviews{
  line-height: 0.1;
  margin-top: -15px;
}
.review-img{
  width: 65px;
  height: 50px;
 border-radius: 50%;
}
.fb{
  font-size: 35px;
  color: #1877F2;
}
.insta{
  font-size: 35px;
  color:  #833AB4;
}
.review-message{
  font-family: "poppins", sans-serif;
  font-size: 15px;
  color: black;
}
.review-h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: #fff;
  font-family: "Playfair Display", serif;
  padding: 30px 0 0 0;
}
.review-p{
  color: rgb(133, 129, 129);
  font-family: "poppins", sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.seeMore-link{
  font-size: 20px;
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.seeMore-link a{
 
}